<% content_for :title, "Leagues" %>

<div class="leagues-page">
  <h1>Leagues</h1>
  <div class="leagues-list">
    <%= link_to players_path, class: "league-card" do %>
      <span class="league-name">KFL</span>
      <span class="league-arrow">→</span>
    <% end %>
  </div>
</div>
